<!doctype html>
<html ng-app="Application">

  <head>
    <script> var TraceData = {
  "level": 0,
  "finished_at": 7.042169570922852,
  "import_line": "root",
  "duration": 7.042169570922852,
  "started_at": 0.0,
  "children": [
    {
      "level": 1,
      "finished_at": 7.039070129394531,
      "import_line": "import multiprocessing",
      "duration": 7.0209503173828125,
      "started_at": 0.01811981201171875,
      "children": [
        {
          "level": 2,
          "finished_at": 0.2989768981933594,
          "import_line": "import os",
          "duration": 0.02288818359375,
          "started_at": 0.2760887145996094,
          "children": []
        },
        {
          "level": 2,
          "finished_at": 0.3151893615722656,
          "import_line": "import sys",
          "duration": 0.013113021850585938,
          "started_at": 0.3020763397216797,
          "children": []
        },
        {
          "level": 2,
          "finished_at": 0.5919933319091797,
          "import_line": "from multiprocessing.process import Process, current_process, active_children",
          "duration": 0.2739429473876953,
          "started_at": 0.3180503845214844,
          "children": [
            {
              "level": 3,
              "finished_at": 0.42700767517089844,
              "import_line": "import os",
              "duration": 0.003814697265625,
              "started_at": 0.42319297790527344,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 0.431060791015625,
              "import_line": "import sys",
              "duration": 0.0019073486328125,
              "started_at": 0.4291534423828125,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 0.44608116149902344,
              "import_line": "import signal",
              "duration": 0.014066696166992188,
              "started_at": 0.43201446533203125,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 0.4591941833496094,
              "import_line": "import itertools",
              "duration": 0.011205673217773438,
              "started_at": 0.44798851013183594,
              "children": []
            }
          ]
        },
        {
          "level": 2,
          "finished_at": 6.321191787719727,
          "import_line": "from multiprocessing.util import SUBDEBUG, SUBWARNING",
          "duration": 5.724191665649414,
          "started_at": 0.5970001220703125,
          "children": [
            {
              "level": 3,
              "finished_at": 0.7050037384033203,
              "import_line": "import itertools",
              "duration": 0.003814697265625,
              "started_at": 0.7011890411376953,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 1.0421276092529297,
              "import_line": "import weakref",
              "duration": 0.3349781036376953,
              "started_at": 0.7071495056152344,
              "children": [
                {
                  "level": 4,
                  "finished_at": 0.9901523590087891,
                  "import_line": "import UserDict",
                  "duration": 0.0030994415283203125,
                  "started_at": 0.9870529174804688,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 0.9961128234863281,
                  "import_line": "from _weakref import getweakrefcount, getweakrefs, ref, proxy, CallableProxyType, ProxyType, ReferenceType",
                  "duration": 0.0030994415283203125,
                  "started_at": 0.9930133819580078,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 1.001119613647461,
                  "import_line": "from _weakrefset import WeakSet",
                  "duration": 0.0019073486328125,
                  "started_at": 0.9992122650146484,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 1.0051727294921875,
                  "import_line": "from exceptions import ReferenceError",
                  "duration": 0.0021457672119140625,
                  "started_at": 1.0030269622802734,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 1.190185546875,
              "import_line": "import atexit",
              "duration": 0.14519691467285156,
              "started_at": 1.0449886322021484,
              "children": [
                {
                  "level": 4,
                  "finished_at": 1.1811256408691406,
                  "import_line": "import sys",
                  "duration": 0.0030994415283203125,
                  "started_at": 1.1780261993408203,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 4.03904914855957,
              "import_line": "import threading",
              "duration": 2.846956253051758,
              "started_at": 1.1920928955078125,
              "children": [
                {
                  "level": 4,
                  "finished_at": 1.6679763793945312,
                  "import_line": "import sys",
                  "duration": 0.00476837158203125,
                  "started_at": 1.6632080078125,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 1.722097396850586,
                  "import_line": "import thread",
                  "duration": 0.051021575927734375,
                  "started_at": 1.6710758209228516,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 1.7271041870117188,
                  "import_line": "import warnings",
                  "duration": 0.0019073486328125,
                  "started_at": 1.7251968383789062,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 2.8340816497802734,
                  "import_line": "from collections import deque",
                  "duration": 1.1038780212402344,
                  "started_at": 1.730203628540039,
                  "children": [
                    {
                      "level": 5,
                      "finished_at": 2.001047134399414,
                      "import_line": "from _abcoll import *",
                      "duration": 0.014066696166992188,
                      "started_at": 1.9869804382324219,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.0101070404052734,
                      "import_line": "import _abcoll",
                      "duration": 0.0019073486328125,
                      "started_at": 2.008199691772461,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.214193344116211,
                      "import_line": "from _collections import deque, defaultdict",
                      "duration": 0.2009868621826172,
                      "started_at": 2.0132064819335938,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.2230148315429688,
                      "import_line": "from operator import itemgetter, eq",
                      "duration": 0.003814697265625,
                      "started_at": 2.2192001342773438,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.402067184448242,
                      "import_line": "from keyword import iskeyword",
                      "duration": 0.17690658569335938,
                      "started_at": 2.225160598754883,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.4080276489257812,
                      "import_line": "import sys",
                      "duration": 0.0019073486328125,
                      "started_at": 2.4061203002929688,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.7680397033691406,
                      "import_line": "import heapq",
                      "duration": 0.3578662872314453,
                      "started_at": 2.4101734161376953,
                      "children": [
                        {
                          "level": 6,
                          "finished_at": 2.5980472564697266,
                          "import_line": "from itertools import islice, count, imap, izip, tee, chain",
                          "duration": 0.0040531158447265625,
                          "started_at": 2.593994140625,
                          "children": []
                        },
                        {
                          "level": 6,
                          "finished_at": 2.6030540466308594,
                          "import_line": "from operator import itemgetter",
                          "duration": 0.0019073486328125,
                          "started_at": 2.601146697998047,
                          "children": []
                        },
                        {
                          "level": 6,
                          "finished_at": 2.7570724487304688,
                          "import_line": "from _heapq import *",
                          "duration": 0.1499652862548828,
                          "started_at": 2.607107162475586,
                          "children": []
                        }
                      ]
                    },
                    {
                      "level": 5,
                      "finished_at": 2.7751922607421875,
                      "import_line": "from itertools import repeat, chain, starmap",
                      "duration": 0.0030994415283203125,
                      "started_at": 2.772092819213867,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.7801990509033203,
                      "import_line": "from itertools import imap",
                      "duration": 0.0030994415283203125,
                      "started_at": 2.777099609375,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 2.783060073852539,
                      "import_line": "from thread import get_ident",
                      "duration": 0.00095367431640625,
                      "started_at": 2.782106399536133,
                      "children": []
                    }
                  ]
                },
                {
                  "level": 4,
                  "finished_at": 2.8400421142578125,
                  "import_line": "from time import time, sleep",
                  "duration": 0.00286102294921875,
                  "started_at": 2.8371810913085938,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 3.100156784057617,
                  "import_line": "from traceback import format_exc",
                  "duration": 0.2579689025878906,
                  "started_at": 2.8421878814697266,
                  "children": [
                    {
                      "level": 5,
                      "finished_at": 3.0870437622070312,
                      "import_line": "import linecache",
                      "duration": 0.0040531158447265625,
                      "started_at": 3.0829906463623047,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 3.091096878051758,
                      "import_line": "import sys",
                      "duration": 0.0019073486328125,
                      "started_at": 3.0891895294189453,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 3.094196319580078,
                      "import_line": "import types",
                      "duration": 0.0011920928955078125,
                      "started_at": 3.0930042266845703,
                      "children": []
                    }
                  ]
                },
                {
                  "level": 4,
                  "finished_at": 3.1070709228515625,
                  "import_line": "import re",
                  "duration": 0.00095367431640625,
                  "started_at": 3.1061172485351562,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 3.988981246948242,
                  "import_line": "from thread import stack_size",
                  "duration": 0.0050067901611328125,
                  "started_at": 3.9839744567871094,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.029989242553711,
                  "import_line": "from thread import _local",
                  "duration": 0.003814697265625,
                  "started_at": 4.026174545288086,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 6.255149841308594,
              "import_line": "from subprocess import _args_from_interpreter_flags",
              "duration": 2.2139549255371094,
              "started_at": 4.041194915771484,
              "children": [
                {
                  "level": 4,
                  "finished_at": 4.397153854370117,
                  "import_line": "import sys",
                  "duration": 0.0030994415283203125,
                  "started_at": 4.394054412841797,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.405021667480469,
                  "import_line": "import os",
                  "duration": 0.0019073486328125,
                  "started_at": 4.403114318847656,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.408121109008789,
                  "import_line": "import types",
                  "duration": 0.0021457672119140625,
                  "started_at": 4.405975341796875,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.410028457641602,
                  "import_line": "import traceback",
                  "duration": 0.00095367431640625,
                  "started_at": 4.409074783325195,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.424095153808594,
                  "import_line": "import gc",
                  "duration": 0.011920928955078125,
                  "started_at": 4.412174224853516,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.427194595336914,
                  "import_line": "import signal",
                  "duration": 0.0011920928955078125,
                  "started_at": 4.426002502441406,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.430055618286133,
                  "import_line": "import errno",
                  "duration": 0.00095367431640625,
                  "started_at": 4.429101943969727,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.665136337280273,
                  "import_line": "import select",
                  "duration": 0.21600723266601562,
                  "started_at": 4.449129104614258,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.8351287841796875,
                  "import_line": "import fcntl",
                  "duration": 0.164031982421875,
                  "started_at": 4.6710968017578125,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 6.208181381225586,
                  "import_line": "import pickle",
                  "duration": 1.3689994812011719,
                  "started_at": 4.839181900024414,
                  "children": [
                    {
                      "level": 5,
                      "finished_at": 5.390167236328125,
                      "import_line": "from types import *",
                      "duration": 0.0059604644775390625,
                      "started_at": 5.384206771850586,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.40614128112793,
                      "import_line": "from copy_reg import dispatch_table",
                      "duration": 0.0030994415283203125,
                      "started_at": 5.403041839599609,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.410194396972656,
                      "import_line": "from copy_reg import _extension_registry, _inverted_registry, _extension_cache",
                      "duration": 0.0011920928955078125,
                      "started_at": 5.409002304077148,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.424976348876953,
                      "import_line": "import marshal",
                      "duration": 0.011920928955078125,
                      "started_at": 5.413055419921875,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.42902946472168,
                      "import_line": "import sys",
                      "duration": 0.0019073486328125,
                      "started_at": 5.427122116088867,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.43212890625,
                      "import_line": "import struct",
                      "duration": 0.00095367431640625,
                      "started_at": 5.431175231933594,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.434989929199219,
                      "import_line": "import re",
                      "duration": 0.00095367431640625,
                      "started_at": 5.4340362548828125,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.616188049316406,
                      "import_line": "from org.python.core import PyStringMap",
                      "duration": 0.11515617370605469,
                      "started_at": 5.501031875610352,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.978107452392578,
                      "import_line": "import binascii",
                      "duration": 0.0030994415283203125,
                      "started_at": 5.975008010864258,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 6.196022033691406,
                      "import_line": "from cStringIO import StringIO",
                      "duration": 0.2148151397705078,
                      "started_at": 5.981206893920898,
                      "children": []
                    }
                  ]
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 6.264209747314453,
              "import_line": "from multiprocessing.process import current_process, active_children",
              "duration": 0.0040531158447265625,
              "started_at": 6.260156631469727,
              "children": []
            }
          ]
        },
        {
          "level": 2,
          "finished_at": 7.026195526123047,
          "import_line": "import _multiprocessing",
          "duration": 0.6520748138427734,
          "started_at": 6.374120712280273,
          "children": [
            {
              "level": 3,
              "finished_at": 6.9980621337890625,
              "import_line": "from cPickle import __doc__",
              "duration": 0.4210472106933594,
              "started_at": 6.577014923095703,
              "children": [
                {
                  "level": 4,
                  "finished_at": 6.791114807128906,
                  "import_line": "from copy_reg import __doc__",
                  "duration": 0.0050067901611328125,
                  "started_at": 6.786108016967773,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 6.798028945922852,
                  "import_line": "from __builtin__ import __doc__",
                  "duration": 0.00286102294921875,
                  "started_at": 6.795167922973633,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 6.987094879150391,
                  "import_line": "from cStringIO import __doc__",
                  "duration": 0.0050067901611328125,
                  "started_at": 6.982088088989258,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 7.004976272583008,
              "import_line": "from multiprocessing import __doc__",
              "duration": 0.00286102294921875,
              "started_at": 7.002115249633789,
              "children": []
            }
          ]
        }
      ]
    }
  ]
} </script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <style>
      .trace {
        min-width: 900px;
      }

      .trace tr:hover {
        background-color: #D9EDF7!important;
      }

      .trace tr td {
        white-space: nowrap;
        padding: 2px;
        border-right: 1px solid #eee;
      }

      .trace tr td.level{
        width: 100px;
      }

      .import_line{
        width: 450px;
        max-width: 450px;
        overflow: scroll;
      }

      .import_line span{
        font-size: 10px;
      }


      .trace .level {
        width: 10%;
        font-weight: bold;
      }

      .bold {
        font-weight: bold;
      }

      div.duration {
        width: 25px;
        margin: 0px;
        padding: 0px;
        background-color: #C6F3DD;
        border-radius: 4px;
        font-size: 10px;

      }

      div.duration div{
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center;
      }
    </style>

    <script type="text/ng-template"  id="tree_item_renderer.html">
        <div>
          <table class="trace cursor_pointer_on_hover">
            <tr>
              <td class="level" style="padding-left:{{data.level * 5}}px;">
                <button type="button"
                        class="btn btn-default btn-xs"
                        ng-disabled="data.is_leaf"
                        ng-click="data.hide_children=!data.hide_children">
                  <span class="glyphicon glyphicon-{{ (data.is_leaf) ? 'minus' : ((data.hide_children) ? 'plus': 'minus')}}"></span>
                  {{data.level || 0}}
                </button>
              </td>
              <td class="{{ is_important(data) ? 'bold' : ''}} import_line" >
                <span>{{data.input_line_prefix}} {{data.import_line}}</span>
              </td>
              <td ng-click="display(data);" class="text-center">
               <div class="duration" style="width: {{get_width(data)}}%; margin-left: {{get_started(data)}}%">
                  <div>{{data.duration.toFixed(2)}} ms</div>
                </div>
              </td>
            </tr>
          </table>

        <div ng-hide="data.hide_children">
          <div ng-repeat="data in data.children"
               ng-include="'tree_item_renderer.html'">
          </div>
        </div>
      </div>

    </script>

    <script>
      angular.module("Application", ['ui.bootstrap']);

      function ProfilerCtlr($scope, $modal) {

        var convert_input = function(input, full_duration){
          input.is_leaf = !input.children.length
          input.input_line_prefix =  Array(input.level + 1).join("-")


          input.hide_children = full_duration > 10 * input.duration ? true : false;

          for (var i = 0; i < input.children.length; i++)
            convert_input(input.children[i], full_duration);
          return input;
        }

        $scope.get_width = function(data){
          var duration = (data.duration) * 100.0 / $scope.tree[0].duration;
          return (duration >= 0.5) ? duration : 0.5;
        }

        $scope.get_started = function(data) {
          return data.started_at * 100.0 / $scope.tree[0].duration;
        }

        $scope.is_important = function(data) {
          // we assume that point is important if import takes more then 10 ms
          return data.duration > 10;
        }

        $scope.tree = [convert_input(TraceData, TraceData.duration)];
      }

    </script>
  </head>

  <body>
    <div ng-controller="ProfilerCtlr">
      <table>

      </table>
      <table class="trace">
        <tr class="bold text-left" style="border-bottom: solid 1px gray">
          <td class="level">Level</td>
          <td class="import_line">Import line</td>
          <td>Duration</td>
        </tr>
      </table>
      <div ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></div>
    </div>

  </body>

</html>
