<!doctype html>
<html ng-app="Application">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imports profiling results</title>
  <style>
    body { margin:0 0 50px; padding:0; font-size:14px; font-family:Helvetica,Arial,sans-serif }
    table { border-collapse:collapse; border-spacing:0; width:100% }
    thead th { text-align:left; padding:8px 4px; color:#000; border:2px solid #ddd; border-width:0 0 2px 0 }
    tbody tr:hover { background:#d9edf7; cursor:pointer }
    tbody td { text-align:left; solid #ddd; padding:3px 2px; color:#333; font-size:12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; white-space: nowrap; font-family:monospace }
    .header { text-align:left; background:#333; font-size:18px; padding:13px 0; margin-bottom:20px; color:#fff; background-image:linear-gradient(to bottom, #444 0px, #222 100%) }
    .header a, .header a:visited, .header a:focus { color:#999; text-decoration: none }
    .leaf { width:17px; border:none; padding:0; background:none; border:none; text-align:center; }
    tbody td span { color: gray; }
    td.import_line { max-width: 400px; overflow: hidden; padding-right: 20px}
    td.duration { width:40%; padding:2px 0; overflow: visible; color: gray; }
    td.duration div { text-align:center; padding:3px 0; line-height:12px; background:#c6f3dd; border-radius:2px; overflow: visible; white-space: nowrap; }
    .content-wrap {margin:0 auto; padding:0 5px}
    @media only screen and (min-width: 320px)  { .content-wrap { width:900px  } .content-main { width:600px } }
    @media only screen and (min-width: 900px)  { .content-wrap { width:880px  } .content-main { width:590px } }
    @media only screen and (min-width: 1000px) { .content-wrap { width:980px  } .content-main { width:690px } }
    @media only screen and (min-width: 1100px) { .content-wrap { width:1080px } .content-main { width:790px } }
    @media only screen and (min-width: 1200px) { .content-wrap { width:1180px } .content-main { width:890px } }
  </style>

  <script>var TraceData = {
  "filepath": null, 
  "level": 0, 
  "duration": 19.47188377380371, 
  "finished_at": 19.47188377380371, 
  "started_at": 0.0, 
  "children": [
    {
      "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/profimp/main.pyc", 
      "level": 1, 
      "duration": 19.43516731262207, 
      "finished_at": 19.468069076538086, 
      "started_at": 0.032901763916015625, 
      "children": [
        {
          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/__init__.pyc", 
          "level": 2, 
          "duration": 0.0059604644775390625, 
          "finished_at": 0.3418922424316406, 
          "started_at": 0.33593177795410156, 
          "children": [], 
          "module": "simplejson", 
          "import_line": "from __future__ import absolute_import"
        }, 
        {
          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/__init__.pyc", 
          "level": 2, 
          "duration": 11.244058609008789, 
          "finished_at": 11.590957641601562, 
          "started_at": 0.34689903259277344, 
          "children": [
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 0.7350444793701172, 
              "finished_at": 1.8329620361328125, 
              "started_at": 1.0979175567626953, 
              "children": [
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/copy.pyc", 
                  "level": 4, 
                  "duration": 0.0050067901611328125, 
                  "finished_at": 1.3051033020019531, 
                  "started_at": 1.3000965118408203, 
                  "children": [], 
                  "module": "copy", 
                  "import_line": "import types"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/copy.pyc", 
                  "level": 4, 
                  "duration": 0.3628730773925781, 
                  "finished_at": 1.6739368438720703, 
                  "started_at": 1.3110637664794922, 
                  "children": [
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/weakref.pyc", 
                      "level": 5, 
                      "duration": 0.0050067901611328125, 
                      "finished_at": 1.6069412231445312, 
                      "started_at": 1.6019344329833984, 
                      "children": [], 
                      "module": "weakref", 
                      "import_line": "import UserDict"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/weakref.pyc", 
                      "level": 5, 
                      "duration": 0.0040531158447265625, 
                      "finished_at": 1.6169548034667969, 
                      "started_at": 1.6129016876220703, 
                      "children": [], 
                      "module": "weakref", 
                      "import_line": "from _weakref import getweakrefcount, getweakrefs, ref, proxy, CallableProxyType, ProxyType, ReferenceType"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/weakref.pyc", 
                      "level": 5, 
                      "duration": 0.0021457672119140625, 
                      "finished_at": 1.6241073608398438, 
                      "started_at": 1.6219615936279297, 
                      "children": [], 
                      "module": "weakref", 
                      "import_line": "from _weakrefset import WeakSet"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/weakref.pyc", 
                      "level": 5, 
                      "duration": 0.0030994415283203125, 
                      "finished_at": 1.6300678253173828, 
                      "started_at": 1.6269683837890625, 
                      "children": [], 
                      "module": "weakref", 
                      "import_line": "from exceptions import ReferenceError"
                    }
                  ], 
                  "module": "copy", 
                  "import_line": "import weakref"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/copy.pyc", 
                  "level": 4, 
                  "duration": 0.0030994415283203125, 
                  "finished_at": 1.6810894012451172, 
                  "started_at": 1.6779899597167969, 
                  "children": [], 
                  "module": "copy", 
                  "import_line": "from copy_reg import dispatch_table"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/copy.pyc", 
                  "level": 4, 
                  "duration": 0.09918212890625, 
                  "finished_at": 1.8050670623779297, 
                  "started_at": 1.7058849334716797, 
                  "children": [], 
                  "module": "copy", 
                  "import_line": "from org.python.core import PyStringMap"
                }
              ], 
              "module": "decimal", 
              "import_line": "import copy"
            }, 
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 0.2608299255371094, 
              "finished_at": 2.106904983520508, 
              "started_at": 1.8460750579833984, 
              "children": [], 
              "module": "decimal", 
              "import_line": "import math"
            }, 
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 0.7538795471191406, 
              "finished_at": 2.8688907623291016, 
              "started_at": 2.115011215209961, 
              "children": [
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/numbers.pyc", 
                  "level": 4, 
                  "duration": 0.0059604644775390625, 
                  "finished_at": 2.501964569091797, 
                  "started_at": 2.496004104614258, 
                  "children": [], 
                  "module": "numbers", 
                  "import_line": "from __future__ import division"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/numbers.pyc", 
                  "level": 4, 
                  "duration": 0.0030994415283203125, 
                  "finished_at": 2.5110244750976562, 
                  "started_at": 2.507925033569336, 
                  "children": [], 
                  "module": "numbers", 
                  "import_line": "from abc import ABCMeta, abstractmethod, abstractproperty"
                }
              ], 
              "module": "decimal", 
              "import_line": "import numbers"
            }, 
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 1.8999576568603516, 
              "finished_at": 4.776954650878906, 
              "started_at": 2.8769969940185547, 
              "children": [
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.0059604644775390625, 
                  "finished_at": 3.1540393829345703, 
                  "started_at": 3.1480789184570312, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from _abcoll import *"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.0019073486328125, 
                  "finished_at": 3.1659603118896484, 
                  "started_at": 3.164052963256836, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "import _abcoll"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.225067138671875, 
                  "finished_at": 3.3969879150390625, 
                  "started_at": 3.1719207763671875, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from _collections import deque, defaultdict"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.3001689910888672, 
                  "finished_at": 3.709077835083008, 
                  "started_at": 3.4089088439941406, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from operator import itemgetter, eq"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.2028942108154297, 
                  "finished_at": 3.9238929748535156, 
                  "started_at": 3.720998764038086, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from keyword import iskeyword"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.0040531158447265625, 
                  "finished_at": 3.935098648071289, 
                  "started_at": 3.9310455322265625, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "import sys"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.6940364837646484, 
                  "finished_at": 4.6329498291015625, 
                  "started_at": 3.938913345336914, 
                  "children": [
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/heapq.pyc", 
                      "level": 5, 
                      "duration": 0.2739429473876953, 
                      "finished_at": 4.435062408447266, 
                      "started_at": 4.16111946105957, 
                      "children": [], 
                      "module": "heapq", 
                      "import_line": "from itertools import islice, count, imap, izip, tee, chain"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/heapq.pyc", 
                      "level": 5, 
                      "duration": 0.0040531158447265625, 
                      "finished_at": 4.450082778930664, 
                      "started_at": 4.4460296630859375, 
                      "children": [], 
                      "module": "heapq", 
                      "import_line": "from operator import itemgetter"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/heapq.pyc", 
                      "level": 5, 
                      "duration": 0.16188621520996094, 
                      "finished_at": 4.61888313293457, 
                      "started_at": 4.456996917724609, 
                      "children": [], 
                      "module": "heapq", 
                      "import_line": "from _heapq import *"
                    }
                  ], 
                  "module": "collections", 
                  "import_line": "import heapq"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.003814697265625, 
                  "finished_at": 4.643917083740234, 
                  "started_at": 4.640102386474609, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from itertools import repeat, chain, starmap"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.0040531158447265625, 
                  "finished_at": 4.663944244384766, 
                  "started_at": 4.659891128540039, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from itertools import imap"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/collections.pyc", 
                  "level": 4, 
                  "duration": 0.050067901611328125, 
                  "finished_at": 4.71806526184082, 
                  "started_at": 4.667997360229492, 
                  "children": [], 
                  "module": "collections", 
                  "import_line": "from thread import get_ident"
                }
              ], 
              "module": "decimal", 
              "import_line": "from collections import namedtuple"
            }, 
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 2.593994140625, 
              "finished_at": 8.104085922241211, 
              "started_at": 5.510091781616211, 
              "children": [
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.0050067901611328125, 
                  "finished_at": 5.9680938720703125, 
                  "started_at": 5.96308708190918, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "import sys"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.0019073486328125, 
                  "finished_at": 5.975008010864258, 
                  "started_at": 5.973100662231445, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "import thread"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.0019073486328125, 
                  "finished_at": 5.980014801025391, 
                  "started_at": 5.978107452392578, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "import warnings"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.00286102294921875, 
                  "finished_at": 5.98597526550293, 
                  "started_at": 5.983114242553711, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "from collections import deque"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.0030994415283203125, 
                  "finished_at": 5.994081497192383, 
                  "started_at": 5.9909820556640625, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "from time import time, sleep"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.28395652770996094, 
                  "finished_at": 6.2808990478515625, 
                  "started_at": 5.996942520141602, 
                  "children": [
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/traceback.pyc", 
                      "level": 5, 
                      "duration": 0.00286102294921875, 
                      "finished_at": 6.259918212890625, 
                      "started_at": 6.257057189941406, 
                      "children": [], 
                      "module": "traceback", 
                      "import_line": "import linecache"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/traceback.pyc", 
                      "level": 5, 
                      "duration": 0.0021457672119140625, 
                      "finished_at": 6.266117095947266, 
                      "started_at": 6.263971328735352, 
                      "children": [], 
                      "module": "traceback", 
                      "import_line": "import sys"
                    }, 
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/traceback.pyc", 
                      "level": 5, 
                      "duration": 0.0021457672119140625, 
                      "finished_at": 6.272077560424805, 
                      "started_at": 6.269931793212891, 
                      "children": [], 
                      "module": "traceback", 
                      "import_line": "import types"
                    }
                  ], 
                  "module": "threading", 
                  "import_line": "from traceback import format_exc"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/warnings.pyc", 
                  "level": 4, 
                  "duration": 1.4998912811279297, 
                  "finished_at": 7.786989212036133, 
                  "started_at": 6.287097930908203, 
                  "children": [
                    {
                      "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/re.pyc", 
                      "level": 5, 
                      "duration": 0.0040531158447265625, 
                      "finished_at": 6.421089172363281, 
                      "started_at": 6.417036056518555, 
                      "children": [], 
                      "module": "re", 
                      "import_line": "import sys"
                    }, 
                    {
                      "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/re.pyc", 
                      "level": 5, 
                      "duration": 0.6260871887207031, 
                      "finished_at": 7.050037384033203, 
                      "started_at": 6.4239501953125, 
                      "children": [
                        {
                          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_compile.pyc", 
                          "level": 6, 
                          "duration": 0.03504753112792969, 
                          "finished_at": 6.576061248779297, 
                          "started_at": 6.541013717651367, 
                          "children": [], 
                          "module": "sre_compile", 
                          "import_line": "import _sre"
                        }, 
                        {
                          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_compile.pyc", 
                          "level": 6, 
                          "duration": 0.0019073486328125, 
                          "finished_at": 6.583929061889648, 
                          "started_at": 6.582021713256836, 
                          "children": [], 
                          "module": "sre_compile", 
                          "import_line": "import sys"
                        }, 
                        {
                          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_compile.pyc", 
                          "level": 6, 
                          "duration": 0.4298686981201172, 
                          "finished_at": 7.016897201538086, 
                          "started_at": 6.587028503417969, 
                          "children": [
                            {
                              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_parse.pyc", 
                              "level": 7, 
                              "duration": 0.00286102294921875, 
                              "finished_at": 6.7958831787109375, 
                              "started_at": 6.793022155761719, 
                              "children": [], 
                              "module": "sre_parse", 
                              "import_line": "import sys"
                            }, 
                            {
                              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_parse.pyc", 
                              "level": 7, 
                              "duration": 0.164031982421875, 
                              "finished_at": 6.966114044189453, 
                              "started_at": 6.802082061767578, 
                              "children": [
                                {
                                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_constants.pyc", 
                                  "level": 8, 
                                  "duration": 0.0050067901611328125, 
                                  "finished_at": 6.918907165527344, 
                                  "started_at": 6.913900375366211, 
                                  "children": [], 
                                  "module": "sre_constants", 
                                  "import_line": "from _sre import MAXREPEAT"
                                }
                              ], 
                              "module": "sre_parse", 
                              "import_line": "from sre_constants import *"
                            }
                          ], 
                          "module": "sre_compile", 
                          "import_line": "import sre_parse"
                        }, 
                        {
                          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_compile.pyc", 
                          "level": 6, 
                          "duration": 0.00286102294921875, 
                          "finished_at": 7.025957107543945, 
                          "started_at": 7.023096084594727, 
                          "children": [], 
                          "module": "sre_compile", 
                          "import_line": "from sre_constants import *"
                        }
                      ], 
                      "module": "re", 
                      "import_line": "import sre_compile"
                    }, 
                    {
                      "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/re.pyc", 
                      "level": 5, 
                      "duration": 0.0019073486328125, 
                      "finished_at": 7.055997848510742, 
                      "started_at": 7.05409049987793, 
                      "children": [], 
                      "module": "re", 
                      "import_line": "import sre_parse"
                    }, 
                    {
                      "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/re.pyc", 
                      "level": 5, 
                      "duration": 0.0040531158447265625, 
                      "finished_at": 7.775068283081055, 
                      "started_at": 7.771015167236328, 
                      "children": [], 
                      "module": "re", 
                      "import_line": "import copy_reg"
                    }
                  ], 
                  "module": "warnings", 
                  "import_line": "import re"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.0050067901611328125, 
                  "finished_at": 8.053064346313477, 
                  "started_at": 8.048057556152344, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "from thread import stack_size"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.pyc", 
                  "level": 4, 
                  "duration": 0.0040531158447265625, 
                  "finished_at": 8.095979690551758, 
                  "started_at": 8.091926574707031, 
                  "children": [], 
                  "module": "threading", 
                  "import_line": "from thread import _local"
                }
              ], 
              "module": "decimal", 
              "import_line": "import threading"
            }, 
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 0.00286102294921875, 
              "finished_at": 8.333921432495117, 
              "started_at": 8.331060409545898, 
              "children": [], 
              "module": "decimal", 
              "import_line": "import re"
            }, 
            {
              "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/decimal.pyc", 
              "level": 3, 
              "duration": 1.5149116516113281, 
              "finished_at": 11.539936065673828, 
              "started_at": 10.0250244140625, 
              "children": [
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.0050067901611328125, 
                  "finished_at": 10.382890701293945, 
                  "started_at": 10.377883911132812, 
                  "children": [], 
                  "module": "locale", 
                  "import_line": "import sys"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.0019073486328125, 
                  "finished_at": 10.390996932983398, 
                  "started_at": 10.389089584350586, 
                  "children": [], 
                  "module": "locale", 
                  "import_line": "import encodings"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.00095367431640625, 
                  "finished_at": 10.395050048828125, 
                  "started_at": 10.394096374511719, 
                  "children": [], 
                  "module": "locale", 
                  "import_line": "import encodings.aliases"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.0011920928955078125, 
                  "finished_at": 10.399103164672852, 
                  "started_at": 10.397911071777344, 
                  "children": [], 
                  "module": "locale", 
                  "import_line": "import re"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.0021457672119140625, 
                  "finished_at": 10.404109954833984, 
                  "started_at": 10.40196418762207, 
                  "children": [], 
                  "module": "locale", 
                  "import_line": "import operator"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.3628730773925781, 
                  "finished_at": 10.768890380859375, 
                  "started_at": 10.406017303466797, 
                  "children": [
                    {
                      "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/functools.pyc", 
                      "level": 5, 
                      "duration": 0.17213821411132812, 
                      "finished_at": 10.761022567749023, 
                      "started_at": 10.588884353637695, 
                      "children": [], 
                      "module": "functools", 
                      "import_line": "from _functools import partial, reduce"
                    }
                  ], 
                  "module": "locale", 
                  "import_line": "import functools"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/locale.pyc", 
                  "level": 4, 
                  "duration": 0.21886825561523438, 
                  "finished_at": 10.994911193847656, 
                  "started_at": 10.776042938232422, 
                  "children": [], 
                  "module": "locale", 
                  "import_line": "from _locale import *"
                }
              ], 
              "module": "decimal", 
              "import_line": "import locale"
            }
          ], 
          "module": "simplejson", 
          "import_line": "from decimal import Decimal"
        }, 
        {
          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/__init__.pyc", 
          "level": 2, 
          "duration": 0.5958080291748047, 
          "finished_at": 12.193918228149414, 
          "started_at": 11.59811019897461, 
          "children": [
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/scanner.pyc", 
              "level": 3, 
              "duration": 0.016927719116210938, 
              "finished_at": 11.718988418579102, 
              "started_at": 11.70206069946289, 
              "children": [], 
              "module": "simplejson.scanner", 
              "import_line": "import re"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/scanner.pyc", 
              "level": 3, 
              "duration": 0.1480579376220703, 
              "finished_at": 11.872053146362305, 
              "started_at": 11.723995208740234, 
              "children": [], 
              "module": "simplejson.scanner", 
              "import_line": "from simplejson._speedups import make_scanner"
            }
          ], 
          "module": "simplejson", 
          "import_line": "from scanner import JSONDecodeError"
        }, 
        {
          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/__init__.pyc", 
          "level": 2, 
          "duration": 1.9619464874267578, 
          "finished_at": 14.162063598632812, 
          "started_at": 12.200117111206055, 
          "children": [
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.0050067901611328125, 
              "finished_at": 12.304067611694336, 
              "started_at": 12.299060821533203, 
              "children": [], 
              "module": "simplejson.decoder", 
              "import_line": "from __future__ import absolute_import"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.00095367431640625, 
              "finished_at": 12.310981750488281, 
              "started_at": 12.310028076171875, 
              "children": [], 
              "module": "simplejson.decoder", 
              "import_line": "import re"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.0019073486328125, 
              "finished_at": 12.315988540649414, 
              "started_at": 12.314081192016602, 
              "children": [], 
              "module": "simplejson.decoder", 
              "import_line": "import sys"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.4360675811767578, 
              "finished_at": 12.753963470458984, 
              "started_at": 12.317895889282227, 
              "children": [
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/struct.pyc", 
                  "level": 4, 
                  "duration": 0.21195411682128906, 
                  "finished_at": 12.726068496704102, 
                  "started_at": 12.514114379882812, 
                  "children": [], 
                  "module": "struct", 
                  "import_line": "from _struct import *"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/struct.pyc", 
                  "level": 4, 
                  "duration": 0.0040531158447265625, 
                  "finished_at": 12.7410888671875, 
                  "started_at": 12.737035751342773, 
                  "children": [], 
                  "module": "struct", 
                  "import_line": "from _struct import _clearcache"
                }, 
                {
                  "filepath": "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/struct.pyc", 
                  "level": 4, 
                  "duration": 0.00286102294921875, 
                  "finished_at": 12.749910354614258, 
                  "started_at": 12.747049331665039, 
                  "children": [], 
                  "module": "struct", 
                  "import_line": "from _struct import __doc__"
                }
              ], 
              "module": "simplejson.decoder", 
              "import_line": "import struct"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.2880096435546875, 
              "finished_at": 13.046979904174805, 
              "started_at": 12.758970260620117, 
              "children": [
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/compat.pyc", 
                  "level": 4, 
                  "duration": 0.015974044799804688, 
                  "finished_at": 12.85099983215332, 
                  "started_at": 12.835025787353516, 
                  "children": [], 
                  "module": "simplejson.compat", 
                  "import_line": "import sys"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/compat.pyc", 
                  "level": 4, 
                  "duration": 0.17905235290527344, 
                  "finished_at": 13.036966323852539, 
                  "started_at": 12.857913970947266, 
                  "children": [], 
                  "module": "simplejson.compat", 
                  "import_line": "import cStringIO"
                }
              ], 
              "module": "simplejson.decoder", 
              "import_line": "from compat import fromhex, b, u, text_type, binary_type, PY3, unichr"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.0040531158447265625, 
              "finished_at": 13.06009292602539, 
              "started_at": 13.056039810180664, 
              "children": [], 
              "module": "simplejson.decoder", 
              "import_line": "from scanner import make_scanner, JSONDecodeError"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/decoder.pyc", 
              "level": 3, 
              "duration": 0.0021457672119140625, 
              "finished_at": 13.06605339050293, 
              "started_at": 13.063907623291016, 
              "children": [], 
              "module": "simplejson.decoder", 
              "import_line": "from _speedups import scanstring"
            }, 
            {
              "filepath": "N/A", 
              "level": 3, 
              "duration": 0.37097930908203125, 
              "finished_at": 13.451099395751953, 
              "started_at": 13.080120086669922, 
              "children": [
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/encodings/hex_codec.pyc", 
                  "level": 4, 
                  "duration": 0.007152557373046875, 
                  "finished_at": 13.215065002441406, 
                  "started_at": 13.20791244506836, 
                  "children": [], 
                  "module": "encodings.hex_codec", 
                  "import_line": "import codecs"
                }, 
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/encodings/hex_codec.pyc", 
                  "level": 4, 
                  "duration": 0.19097328186035156, 
                  "finished_at": 13.41104507446289, 
                  "started_at": 13.220071792602539, 
                  "children": [], 
                  "module": "encodings.hex_codec", 
                  "import_line": "import binascii"
                }
              ], 
              "module": "N/A", 
              "import_line": "import encodings.hex_codec"
            }, 
            {
              "filepath": "N/A", 
              "level": 3, 
              "duration": 0.3039836883544922, 
              "finished_at": 13.94200325012207, 
              "started_at": 13.638019561767578, 
              "children": [
                {
                  "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/encodings/unicode_escape.pyc", 
                  "level": 4, 
                  "duration": 0.009059906005859375, 
                  "finished_at": 13.883113861083984, 
                  "started_at": 13.874053955078125, 
                  "children": [], 
                  "module": "encodings.unicode_escape", 
                  "import_line": "import codecs"
                }
              ], 
              "module": "N/A", 
              "import_line": "import encodings.unicode_escape"
            }
          ], 
          "module": "simplejson", 
          "import_line": "from decoder import JSONDecoder"
        }, 
        {
          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/__init__.pyc", 
          "level": 2, 
          "duration": 5.22923469543457, 
          "finished_at": 19.40011978149414, 
          "started_at": 14.17088508605957, 
          "children": [
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.019073486328125, 
              "finished_at": 14.430046081542969, 
              "started_at": 14.410972595214844, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "from __future__ import absolute_import"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.003814697265625, 
              "finished_at": 14.442920684814453, 
              "started_at": 14.439105987548828, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "import re"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.0050067901611328125, 
              "finished_at": 14.456987380981445, 
              "started_at": 14.451980590820312, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "from operator import itemgetter"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.0040531158447265625, 
              "finished_at": 14.466047286987305, 
              "started_at": 14.461994171142578, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "from decimal import Decimal"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.0050067901611328125, 
              "finished_at": 14.477014541625977, 
              "started_at": 14.472007751464844, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "from compat import u, unichr, binary_type, string_types, integer_types, PY3"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.008106231689453125, 
              "finished_at": 14.497995376586914, 
              "started_at": 14.489889144897461, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "from  import _speedups"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/encoder.pyc", 
              "level": 3, 
              "duration": 0.0040531158447265625, 
              "finished_at": 14.508962631225586, 
              "started_at": 14.50490951538086, 
              "children": [], 
              "module": "simplejson.encoder", 
              "import_line": "from simplejson.decoder import PosInf"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_compile.pyc", 
              "level": 3, 
              "duration": 0.370025634765625, 
              "finished_at": 15.01607894897461, 
              "started_at": 14.646053314208984, 
              "children": [], 
              "module": "sre_compile", 
              "import_line": "import array"
            }, 
            {
              "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/sre_compile.pyc", 
              "level": 3, 
              "duration": 0.0059604644775390625, 
              "finished_at": 17.412900924682617, 
              "started_at": 17.406940460205078, 
              "children": [], 
              "module": "sre_compile", 
              "import_line": "import array"
            }
          ], 
          "module": "simplejson", 
          "import_line": "from encoder import JSONEncoder, JSONEncoderForHTML"
        }, 
        {
          "filepath": "/Users/boris/Documents/os/my/profimp/samples/vvv/lib/python2.7/site-packages/simplejson/__init__.pyc", 
          "level": 2, 
          "duration": 0.0040531158447265625, 
          "finished_at": 19.416093826293945, 
          "started_at": 19.41204071044922, 
          "children": [], 
          "module": "simplejson", 
          "import_line": "import collections"
        }
      ], 
      "module": "profimp.main", 
      "import_line": "import simplejson"
    }
  ], 
  "module": null, 
  "import_line": "exec(import simplejson)"
}</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script>
    angular.module("Application", []);

    function ProfilerCtlr($scope) {
      var idx = 0;
      $scope.max_duration = TraceData["duration"];
      $scope.tree = {0: {parent: 0, is_expandable: true, is_expanded: true}};
      $scope.imports = [];
      var append_imp = function(imp, parent_idx, level){
        idx++;
        var this_idx = idx;
        $scope.imports.push({level: level,
                      index: idx,
                      module: imp.module,
                      file: imp.filepath,
                      import_line: imp.import_line,
                      duration: imp.duration,
                      started_at: imp.started_at})

        $scope.tree[idx] = {parent: parent_idx,
                            is_expandable: imp.children.length,
                            is_expanded: (level < 4) && imp.duration > $scope.max_duration / 20}
        for (var i in imp.children) {
          append_imp(imp.children[i], this_idx, level + 1)
        }
      }
      append_imp(TraceData, 0, 0);
      $scope.duration_bar_style = function(imp){
        var margin_left = Math.ceil((imp.started_at / $scope.max_duration) * 100);

        /* Do not overflow right table border
         * FIXME: This must be done better
        */
        if (margin_left > 75) {
          margin_left = 75
        }
        return {'margin-left': margin_left + "%",
                width: Math.round((imp.duration / $scope.max_duration) * 100) + "%"};
      }

      var has_collapsed_parent = function(idx) {
        if (idx == 0) { return false }
        var parent_idx = $scope.tree[idx].parent;

        if (!$scope.tree[parent_idx].is_expanded) {
          return true
        }
        return has_collapsed_parent(parent_idx)
      }

      $scope.is_hidden = function(imp) {
        return has_collapsed_parent(imp.index)
      }

      $scope.toggle_expand = function(imp) {
        if ($scope.tree[imp.index].is_expandable) {
          $scope.tree[imp.index].is_expanded = !$scope.tree[imp.index].is_expanded
        }
      }

      var repeat_str = function(str, repeat){
          var s = "";
          for (var i=0; i<repeat; i++) { s += str };
          return s
      }
      $scope.indent = function(str, num) {
        if (num) {
          return repeat_str(str, (str, num * 2) - 3)
        }
        return ''
      }
    }
  </script>
</head>

<body ng-controller="ProfilerCtlr">
  <div class="header">
    <div class="content-wrap">
      <a href="https://github.com/boris-42/profimp">ProfImp</a>&nbsp;
      <span>imports profiling results</span>
    </div>
  </div>

  <div class="content-wrap">
    <table>

    </table>
    <table class="trace">
      <thead>
        <tr>
          <th>Import line</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="is_hidden(imp)" ng-click="toggle_expand(imp)"
            ng-repeat="imp in imports track by $index"
            title="{{imp.module}} ({{imp.file}})">
          <td class="import_line">
            <span>{{indent('&nbsp;', imp.level)}}</span>
            <span ng-show="imp.level">&#9584;</span><span class="leaf" ng-hide="tree[imp.index].is_expandable">&#9472;&#9472;&nbsp;{{imp.level}}</span>
            <span ng-show="tree[imp.index].is_expandable"
                  n-g-click="tree[imp.index].is_expanded = !tree[imp.index].is_expanded">
              <span ng-hide="tree[imp.index].is_expanded">&#9654;&nbsp;{{imp.level}}</span>
              <span ng-show="tree[imp.index].is_expanded">&#9661;&nbsp;{{imp.level}}</span>
            </span>
            <span ng-show="imp.level">&#9472;&#9472;&#9472;&#9472;</span>
            {{imp.input_line_prefix}} {{imp.import_line}}
          </td>
          <td class="duration">
            <div ng-style="duration_bar_style(imp)">{{imp.duration.toFixed(2)}} ms</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>
