<!doctype html>
<html ng-app="Application">

  <head>
    <script> var TraceData = {
  "level": 0,
  "finished_at": 13.794898986816406,
  "import_line": "root",
  "duration": 13.794898986816406,
  "started_at": 0.0,
  "children": [
    {
      "level": 1,
      "finished_at": 13.791084289550781,
      "import_line": "import simplejson",
      "duration": 13.770103454589844,
      "started_at": 0.0209808349609375,
      "children": [
        {
          "level": 2,
          "finished_at": 0.33211708068847656,
          "import_line": "from __future__ import absolute_import",
          "duration": 0.008106231689453125,
          "started_at": 0.32401084899902344,
          "children": []
        },
        {
          "level": 2,
          "finished_at": 9.291887283325195,
          "import_line": "from decimal import Decimal",
          "duration": 8.9569091796875,
          "started_at": 0.3349781036376953,
          "children": [
            {
              "level": 3,
              "finished_at": 1.8079280853271484,
              "import_line": "import copy",
              "duration": 0.7598400115966797,
              "started_at": 1.0480880737304688,
              "children": [
                {
                  "level": 4,
                  "finished_at": 1.2590885162353516,
                  "import_line": "import types",
                  "duration": 0.0050067901611328125,
                  "started_at": 1.2540817260742188,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 1.6460418701171875,
                  "import_line": "import weakref",
                  "duration": 0.3840923309326172,
                  "started_at": 1.2619495391845703,
                  "children": [
                    {
                      "level": 5,
                      "finished_at": 1.5799999237060547,
                      "import_line": "import UserDict",
                      "duration": 0.0040531158447265625,
                      "started_at": 1.5759468078613281,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 1.5900135040283203,
                      "import_line": "from _weakref import getweakrefcount, getweakrefs, ref, proxy, CallableProxyType, ProxyType, ReferenceType",
                      "duration": 0.0030994415283203125,
                      "started_at": 1.5869140625,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 1.5969276428222656,
                      "import_line": "from _weakrefset import WeakSet",
                      "duration": 0.00286102294921875,
                      "started_at": 1.5940666198730469,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 1.6009807586669922,
                      "import_line": "from exceptions import ReferenceError",
                      "duration": 0.0019073486328125,
                      "started_at": 1.5990734100341797,
                      "children": []
                    }
                  ]
                },
                {
                  "level": 4,
                  "finished_at": 1.6520023345947266,
                  "import_line": "from copy_reg import dispatch_table",
                  "duration": 0.0030994415283203125,
                  "started_at": 1.6489028930664062,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 1.7819404602050781,
                  "import_line": "from org.python.core import PyStringMap",
                  "duration": 0.09989738464355469,
                  "started_at": 1.6820430755615234,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 2.034902572631836,
              "import_line": "import math",
              "duration": 0.2238750457763672,
              "started_at": 1.8110275268554688,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 3.353118896484375,
              "import_line": "import numbers",
              "duration": 1.3132095336914062,
              "started_at": 2.0399093627929688,
              "children": [
                {
                  "level": 4,
                  "finished_at": 2.290964126586914,
                  "import_line": "from __future__ import division",
                  "duration": 0.0050067901611328125,
                  "started_at": 2.2859573364257812,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 2.3000240325927734,
                  "import_line": "from abc import ABCMeta, abstractmethod, abstractproperty",
                  "duration": 0.0030994415283203125,
                  "started_at": 2.296924591064453,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 4.560947418212891,
              "import_line": "from collections import namedtuple",
              "duration": 1.2018680572509766,
              "started_at": 3.359079360961914,
              "children": [
                {
                  "level": 4,
                  "finished_at": 3.632068634033203,
                  "import_line": "from _abcoll import *",
                  "duration": 0.0050067901611328125,
                  "started_at": 3.6270618438720703,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 3.640890121459961,
                  "import_line": "import _abcoll",
                  "duration": 0.0019073486328125,
                  "started_at": 3.6389827728271484,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 3.874063491821289,
                  "import_line": "from _collections import deque, defaultdict",
                  "duration": 0.2300739288330078,
                  "started_at": 3.6439895629882812,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 3.882884979248047,
                  "import_line": "from operator import itemgetter, eq",
                  "duration": 0.00286102294921875,
                  "started_at": 3.880023956298828,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.060029983520508,
                  "import_line": "from keyword import iskeyword",
                  "duration": 0.17404556274414062,
                  "started_at": 3.885984420776367,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.066944122314453,
                  "import_line": "import sys",
                  "duration": 0.00286102294921875,
                  "started_at": 4.064083099365234,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.452943801879883,
                  "import_line": "import heapq",
                  "duration": 0.3838539123535156,
                  "started_at": 4.069089889526367,
                  "children": [
                    {
                      "level": 5,
                      "finished_at": 4.251956939697266,
                      "import_line": "from itertools import islice, count, imap, izip, tee, chain",
                      "duration": 0.0040531158447265625,
                      "started_at": 4.247903823852539,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 4.257917404174805,
                      "import_line": "from operator import itemgetter",
                      "duration": 0.0019073486328125,
                      "started_at": 4.256010055541992,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 4.440069198608398,
                      "import_line": "from _heapq import *",
                      "duration": 0.17595291137695312,
                      "started_at": 4.264116287231445,
                      "children": []
                    }
                  ]
                },
                {
                  "level": 4,
                  "finished_at": 4.461050033569336,
                  "import_line": "from itertools import repeat, chain, starmap",
                  "duration": 0.0040531158447265625,
                  "started_at": 4.456996917724609,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.467010498046875,
                  "import_line": "from itertools import imap",
                  "duration": 0.0030994415283203125,
                  "started_at": 4.463911056518555,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 4.513025283813477,
                  "import_line": "from thread import get_ident",
                  "duration": 0.04410743713378906,
                  "started_at": 4.4689178466796875,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 6.273031234741211,
              "import_line": "import threading",
              "duration": 1.032114028930664,
              "started_at": 5.240917205810547,
              "children": [
                {
                  "level": 4,
                  "finished_at": 5.66411018371582,
                  "import_line": "import sys",
                  "duration": 0.0050067901611328125,
                  "started_at": 5.6591033935546875,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 5.669116973876953,
                  "import_line": "import thread",
                  "duration": 0.0021457672119140625,
                  "started_at": 5.666971206665039,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 5.671977996826172,
                  "import_line": "import warnings",
                  "duration": 0.00095367431640625,
                  "started_at": 5.671024322509766,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 5.680084228515625,
                  "import_line": "from collections import deque",
                  "duration": 0.0050067901611328125,
                  "started_at": 5.675077438354492,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 5.685091018676758,
                  "import_line": "from time import time, sleep",
                  "duration": 0.0030994415283203125,
                  "started_at": 5.6819915771484375,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 5.952119827270508,
                  "import_line": "from traceback import format_exc",
                  "duration": 0.2651214599609375,
                  "started_at": 5.68699836730957,
                  "children": [
                    {
                      "level": 5,
                      "finished_at": 5.934000015258789,
                      "import_line": "import linecache",
                      "duration": 0.0040531158447265625,
                      "started_at": 5.9299468994140625,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.939960479736328,
                      "import_line": "import sys",
                      "duration": 0.0019073486328125,
                      "started_at": 5.938053131103516,
                      "children": []
                    },
                    {
                      "level": 5,
                      "finished_at": 5.943059921264648,
                      "import_line": "import types",
                      "duration": 0.0021457672119140625,
                      "started_at": 5.940914154052734,
                      "children": []
                    }
                  ]
                },
                {
                  "level": 4,
                  "finished_at": 5.959987640380859,
                  "import_line": "import re",
                  "duration": 0.0019073486328125,
                  "started_at": 5.958080291748047,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 6.218910217285156,
                  "import_line": "from thread import stack_size",
                  "duration": 0.003814697265625,
                  "started_at": 6.215095520019531,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 6.263017654418945,
                  "import_line": "from thread import _local",
                  "duration": 0.0030994415283203125,
                  "started_at": 6.259918212890625,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 6.6070556640625,
              "import_line": "import re",
              "duration": 0.0040531158447265625,
              "started_at": 6.603002548217773,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 9.237051010131836,
              "import_line": "import locale",
              "duration": 1.1060237884521484,
              "started_at": 8.131027221679688,
              "children": [
                {
                  "level": 4,
                  "finished_at": 8.501052856445312,
                  "import_line": "import sys",
                  "duration": 0.0040531158447265625,
                  "started_at": 8.496999740600586,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 8.506059646606445,
                  "import_line": "import encodings",
                  "duration": 0.0021457672119140625,
                  "started_at": 8.503913879394531,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 8.508920669555664,
                  "import_line": "import encodings.aliases",
                  "duration": 0.0019073486328125,
                  "started_at": 8.507013320922852,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 8.512020111083984,
                  "import_line": "import re",
                  "duration": 0.00095367431640625,
                  "started_at": 8.511066436767578,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 8.516073226928711,
                  "import_line": "import operator",
                  "duration": 0.0021457672119140625,
                  "started_at": 8.513927459716797,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 8.517980575561523,
                  "import_line": "import functools",
                  "duration": 0.00095367431640625,
                  "started_at": 8.517026901245117,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 8.747100830078125,
                  "import_line": "from _locale import *",
                  "duration": 0.22602081298828125,
                  "started_at": 8.521080017089844,
                  "children": []
                }
              ]
            }
          ]
        },
        {
          "level": 2,
          "finished_at": 9.591102600097656,
          "import_line": "from scanner import JSONDecodeError",
          "duration": 0.2942085266113281,
          "started_at": 9.296894073486328,
          "children": [
            {
              "level": 3,
              "finished_at": 9.407997131347656,
              "import_line": "import re",
              "duration": 0.019073486328125,
              "started_at": 9.388923645019531,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 9.560108184814453,
              "import_line": "from simplejson._speedups import make_scanner",
              "duration": 0.1480579376220703,
              "started_at": 9.412050247192383,
              "children": []
            }
          ]
        },
        {
          "level": 2,
          "finished_at": 10.376930236816406,
          "import_line": "from decoder import JSONDecoder",
          "duration": 0.782012939453125,
          "started_at": 9.594917297363281,
          "children": [
            {
              "level": 3,
              "finished_at": 9.692907333374023,
              "import_line": "from __future__ import absolute_import",
              "duration": 0.003814697265625,
              "started_at": 9.689092636108398,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 9.697914123535156,
              "import_line": "import re",
              "duration": 0.0019073486328125,
              "started_at": 9.696006774902344,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 9.701013565063477,
              "import_line": "import sys",
              "duration": 0.00095367431640625,
              "started_at": 9.70005989074707,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 9.704113006591797,
              "import_line": "import struct",
              "duration": 0.0011920928955078125,
              "started_at": 9.702920913696289,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.075092315673828,
              "import_line": "from compat import fromhex, b, u, text_type, binary_type, PY3, unichr",
              "duration": 0.3681182861328125,
              "started_at": 9.706974029541016,
              "children": [
                {
                  "level": 4,
                  "finished_at": 9.864091873168945,
                  "import_line": "import sys",
                  "duration": 0.02002716064453125,
                  "started_at": 9.844064712524414,
                  "children": []
                },
                {
                  "level": 4,
                  "finished_at": 10.066032409667969,
                  "import_line": "import cStringIO",
                  "duration": 0.19812583923339844,
                  "started_at": 9.86790657043457,
                  "children": []
                }
              ]
            },
            {
              "level": 3,
              "finished_at": 10.083913803100586,
              "import_line": "from scanner import make_scanner, JSONDecodeError",
              "duration": 0.003814697265625,
              "started_at": 10.080099105834961,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.090112686157227,
              "import_line": "from _speedups import scanstring",
              "duration": 0.0030994415283203125,
              "started_at": 10.087013244628906,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.324954986572266,
              "import_line": "import encodings.unicode_escape",
              "duration": 0.20885467529296875,
              "started_at": 10.116100311279297,
              "children": [
                {
                  "level": 4,
                  "finished_at": 10.281085968017578,
                  "import_line": "import codecs",
                  "duration": 0.0040531158447265625,
                  "started_at": 10.277032852172852,
                  "children": []
                }
              ]
            }
          ]
        },
        {
          "level": 2,
          "finished_at": 13.755083084106445,
          "import_line": "from encoder import JSONEncoder, JSONEncoderForHTML",
          "duration": 3.3731460571289062,
          "started_at": 10.381937026977539,
          "children": [
            {
              "level": 3,
              "finished_at": 10.505914688110352,
              "import_line": "from __future__ import absolute_import",
              "duration": 0.003814697265625,
              "started_at": 10.502099990844727,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.509967803955078,
              "import_line": "import re",
              "duration": 0.0019073486328125,
              "started_at": 10.508060455322266,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.514020919799805,
              "import_line": "from operator import itemgetter",
              "duration": 0.0019073486328125,
              "started_at": 10.512113571166992,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.518074035644531,
              "import_line": "from decimal import Decimal",
              "duration": 0.0021457672119140625,
              "started_at": 10.515928268432617,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.523080825805664,
              "import_line": "from compat import u, unichr, binary_type, string_types, integer_types, PY3",
              "duration": 0.0030994415283203125,
              "started_at": 10.519981384277344,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.530948638916016,
              "import_line": "from  import _speedups",
              "duration": 0.00286102294921875,
              "started_at": 10.528087615966797,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.535001754760742,
              "import_line": "from simplejson.decoder import PosInf",
              "duration": 0.0019073486328125,
              "started_at": 10.53309440612793,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 10.795116424560547,
              "import_line": "import array",
              "duration": 0.18715858459472656,
              "started_at": 10.60795783996582,
              "children": []
            },
            {
              "level": 3,
              "finished_at": 12.368917465209961,
              "import_line": "import array",
              "duration": 0.003814697265625,
              "started_at": 12.365102767944336,
              "children": []
            }
          ]
        },
        {
          "level": 2,
          "finished_at": 13.762950897216797,
          "import_line": "import collections",
          "duration": 0.00286102294921875,
          "started_at": 13.760089874267578,
          "children": []
        }
      ]
    }
  ]
} </script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <style>
      .trace {
        min-width: 900px;
      }

      .trace tr:hover {
        background-color: #D9EDF7!important;
      }

      .trace tr td {
        white-space: nowrap;
        padding: 2px;
        border-right: 1px solid #eee;
      }

      .trace tr td.level{
        width: 100px;
      }

      .import_line{
        width: 450px;
        max-width: 450px;
        overflow: scroll;
      }

      .import_line span{
        font-size: 10px;
      }


      .trace .level {
        width: 10%;
        font-weight: bold;
      }

      .bold {
        font-weight: bold;
      }

      div.duration {
        width: 25px;
        margin: 0px;
        padding: 0px;
        background-color: #C6F3DD;
        border-radius: 4px;
        font-size: 10px;

      }

      div.duration div{
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center;
      }
    </style>

    <script type="text/ng-template"  id="tree_item_renderer.html">
        <div>
          <table class="trace cursor_pointer_on_hover">
            <tr>
              <td class="level" style="padding-left:{{data.level * 5}}px;">
                <button type="button"
                        class="btn btn-default btn-xs"
                        ng-disabled="data.is_leaf"
                        ng-click="data.hide_children=!data.hide_children">
                  <span class="glyphicon glyphicon-{{ (data.is_leaf) ? 'minus' : ((data.hide_children) ? 'plus': 'minus')}}"></span>
                  {{data.level || 0}}
                </button>
              </td>
              <td class="{{ is_important(data) ? 'bold' : ''}} import_line" >
                <span>{{data.input_line_prefix}} {{data.import_line}}</span>
              </td>
              <td ng-click="display(data);" class="text-center">
               <div class="duration" style="width: {{get_width(data)}}%; margin-left: {{get_started(data)}}%">
                  <div>{{data.duration.toFixed(2)}} ms</div>
                </div>
              </td>
            </tr>
          </table>

        <div ng-hide="data.hide_children">
          <div ng-repeat="data in data.children"
               ng-include="'tree_item_renderer.html'">
          </div>
        </div>
      </div>

    </script>

    <script>
      angular.module("Application", ['ui.bootstrap']);

      function ProfilerCtlr($scope, $modal) {

        var convert_input = function(input, full_duration){
          input.is_leaf = !input.children.length
          input.input_line_prefix =  Array(input.level + 1).join("-")


          input.hide_children = full_duration > 10 * input.duration ? true : false;

          for (var i = 0; i < input.children.length; i++)
            convert_input(input.children[i], full_duration);
          return input;
        }

        $scope.get_width = function(data){
          var duration = (data.duration) * 100.0 / $scope.tree[0].duration;
          return (duration >= 0.5) ? duration : 0.5;
        }

        $scope.get_started = function(data) {
          return data.started_at * 100.0 / $scope.tree[0].duration;
        }

        $scope.is_important = function(data) {
          // we assume that point is important if import takes more then 10 ms
          return data.duration > 10;
        }

        $scope.tree = [convert_input(TraceData, TraceData.duration)];
      }

    </script>
  </head>

  <body>
    <div ng-controller="ProfilerCtlr">
      <table>

      </table>
      <table class="trace">
        <tr class="bold text-left" style="border-bottom: solid 1px gray">
          <td class="level">Level</td>
          <td class="import_line">Import line</td>
          <td>Duration</td>
        </tr>
      </table>
      <div ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></div>
    </div>

  </body>

</html>
